---
layout: default
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CreativeWorkSeries",
    "name": "Cloud7000 a Solar Punk Novel",
    "alternateName": "Open-Source Solar Punk Sci-Fi Novel",
    "url": "https://github.com/Messerblatt/Cloud7000",
    "description": "A collaborative, open-source sci-fi novel centered on solar punk themes. This project invites artists and writers to contribute, remix, and enhance the storyline and universe.",
    "author": {
      "@type": "Person",
      "name": "Funky",
      "url": "https://www.messerblatt.com/",
    },
    "dateCreated": "2024-11-01",
    "genre": "Science Fiction",
    "keywords": ["Solar Punk", "Open Source", "Collaborative Novel", "Sci-Fi", "Flying Ships"],
    "license": "https://opensource.org/licenses/MIT",
    "workExample": [
      {
        "@type": "Book",
        "name": "Cloud7000 - Chapter 1",
        "url": "https://messerblatt.github.io/Cloud7000/2024/01/01/intro.html",
        "fileFormat": "text/html",
        "about": "Introduction to the world and main characters.",
        "datePublished": "2024-11-01",
        "inLanguage": "en"
      },
      {
        "@type": "Book",
        "name": "Cloud 7000 - Tea",
        "url": "https://messerblatt.github.io/Cloud7000/2024/01/01/tea.html",
        "fileFormat": "text/html",
        "about": "Explores the challenges and innovations in a solar punk society.",
        "datePublished": "2024-11-01",
        "inLanguage": "en"
      }
    ],
    "creativeWorkStatus": "InProgress",
    "publisher": {
      "@type": "Organization",
      "name": "Self-Published",
      "url": "https://github.com/Messerblatt/Cloud7000"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.8",
      "reviewCount": "120",
      "bestRating": "5",
      "worstRating": "1"
    },
    "comment": [
      {
        "@type": "Comment",
        "author": {
          "@type": "Person",
          "name": "Berty Vert"
        },
        "text": "An inspiring, collaborative vision of a solar punk future!",
        "dateCreated": "2024-11-01"
      }
    ],
    "interactionStatistic": [
      {
        "@type": "InteractionCounter",
        "interactionType": { "@type": "CommunicateAction", "name": "Comment" },
        "userInteractionCount": "340"
      },
      {
        "@type": "InteractionCounter",
        "interactionType": { "@type": "ViewAction", "name": "Views" },
        "userInteractionCount": "1500"
      }
    ]
  }
</script>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts reversed -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
